.main-container{
    max-width: 720px;
    margin: 50px auto;
    .menu-header{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        .left-header {
            .link-arrow,a{
                color: #5f6b81;
                font-size: 12px;
                text-decoration: none;
            }
            h1{
                font-size: 26px;
                color: #5f6b81;
                line-height: 20px;
            }
        }
        .right-header{
            display: flex;
            gap: 10px;
            align-items: center;
            button{
                outline: none;
                border-radius: 5px;
                padding: 8px 15px;
                font-size: 12px;
                font-weight: 500;
                cursor: pointer;
            }
            .add-btn{
                border: none;
                background-color: #609beb;
                color: #FFF;
            }
            .transfer-btn{
                border: 1px solid #ccc;
                background-color: #f8f9fa;
            }
            .vert-btn{
                border: none;
                background-color: transparent;
                padding: 2px;
                margin-left: 10px;
                width: 10px;
                overflow: hidden;
                &::after{
                    content: '...';
                    letter-spacing: 1.2px;
                    font-size: 18px;
                    font-weight: 700;
                    display: flex;
                    width: fit-content;
                    transform: rotate(90deg);
                }
            }
        }
    }
    .wallet-content{
        margin-top: 50px;
        background-color: #fff2cd;
        padding: 15px;
        min-height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        box-shadow: 2px 4px 15px rgba(0,0,0,0.05);
        .warning-msg{
            display: flex;
            flex-direction: column;
            gap: 15px;
            h2{
                font-size: 13px;
                text-align: center;
                color: #b29842;
            }
            button{
                background-color: #ffc009;
                font-weight: 700;
                padding: 8px 15px;
                border-radius: 5px;
                font-size: 12px;
                border: none;
                outline: none;
                margin: auto;
            }
        }
    }
    .wallet-balance{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 20px;
        .wallet-img-div{
            display: flex;
            align-items: center;
            gap: 20px;
            img{
                max-width: 60px;
            }
            p{
                color: #5f6b81;
                font-weight: 500;
                white-space: nowrap;
            }

        }
        .europ-currency{
            font-size: 22px;
            font-weight: 600;
            color: #5f6b81;
        }
    }
    .wallet-footer{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .left-wallet-footer{
            display: flex;
            align-items: center;
            .footer-wallet{
                max-width: 30px;
                margin: 15px;
            }
            .google-img{
                max-width: 50px;
            }
            p{
                font-weight: 600;
                color: #5f6b81;
                white-space: nowrap;
                margin-left: 10px;
                font-size: 14px;
                span{
                    color: #ff0000;
                }
            }
        }
        .right-wallet-footer{
            display: flex;
            align-items: center;
            p{
                color: #5f6b81;
                font-weight: 500;
            }
            .ref{
                color: #699fec;
                margin-right: 60px;
                font-size: 14px;
            }
        }
    }
}
::ng-deep body{
    background-color: #f1f3f5;
}
