<div class="main-container">
    <h1 class="add-heding">Add budget</h1>
    <div class="wallet-content">
        <div class="warning-msg">
            <h2> You need to complete your billing details and add a payment method before you can add budget.</h2>
            <button class="btn update-btn">Update details</button>
        </div>
    </div>
    <div class="gap"></div>
    <div class="form-div">
        <h2 class="question">How much budget do you want to add?</h2>
        <label for="">&euro;   <input type="text"></label>
        <span class="notes">This amount can be added to your main or a Google wallet.</span>
        <div class="terms-and-conditions">
            <input type="checkbox">
            <p>I agree with the <a href="#">Terms and Conditions <img src="../../assets/icons/readmoreicon.svg" alt="" srcset=""></a> that apply to use this service.</p>
        </div>
    </div>
    <div class="gap"></div>
    <div class="cancel-next-btn">
        <button class="btn cancel-btn">Cancel</button>
        <button class="btn next-btn">Next</button>
    </div>
</div>